<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">
    <!--获取操作人编号-->
    <select id="getUser" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_code userCode,
            role role,
            version version
        from
            t_sys_user
        where
            user_code = #{userId}
        and
            is_delete = 0
    </select>
    <!--查询订单详情-->
    <select id="findDetailByCode" parameterType="com.xzsd.pc.order.entity.OrderDetails" resultType="com.xzsd.pc.order.entity.OrderDetails">
        SELECT
            odd.detail_code orderDetailsCode,
            od.user_code userCode,
	        od.order_code orderCode,
            odd.com_code comCode,
            cmd.com_name comName,
            odd.detail_amount detailAmount,
            odd.total_price totalPrice,
            cmd.com_price comPrice,
            cmd.com_cost comCost,
            od.version version
        FROM
            t_order od
        LEFT JOIN
            t_order_detail odd
        ON
            od.order_code = odd.order_code
        LEFT JOIN
            t_commodity cmd
        ON
            odd.com_code = cmd.com_code
        where
            od.is_delete = 0
        and
            od.order_code = #{orderCode}
        order by
            odd.create_time
        desc
    </select>
    <!--查询订单列表(分页)-->
    <select id="listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderInfo">
        SELECT
            od.order_code orderCode,
            od.total_price totalPrice,
            od.order_status orderStatus,
            od.store_code storeCode,
            us.user_name userName,
            us.phone phone,
            od.pay_time payTime,
            od.version version
        FROM
            t_order od
        LEFT JOIN
            t_sys_user us
        ON
            od.user_code = us.user_code
        where
            od.is_delete = 0
        <if test="role == 1">
            AND od.store_code in (select store_code from t_store where user_code = #{userId})
        </if>
        <if test="userName != null and userName != ''">
            AND us.user_name like concat ('%',#{userName},'%')
        </if>
        <if test="orderCode != null and orderCode != ''">
            AND od.order_code like concat ('%',#{orderCode},'%')
        </if>
        <if test="payTimeStart != null and payTimeStart != ''">
            AND od.pay_time &gt;= DATE_FORMAT( #{payTimeStart} ,'%Y-%m-%d %h:%i:%S')
        </if>
        <if test="payTimeEnd != null and payTimeEnd != ''">
            AND od.pay_time &lt;= DATE_FORMAT( #{payTimeEnd} ,'%Y-%m-%d %h:%i:%S')
        </if>
        <if test="phone != null and phone != ''">
            AND us.phone like concat ('%',#{phone},'%')
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            AND od.order_status = #{orderStatus}
        </if>
        order by od.create_time desc
    </select>
    <!--修改订单状态-->
    <update id="updateOrderStatus" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        update
            t_order
        set
            order_status =  #{orderStatus},
            update_time = now(),
            update_user = #{userId},
            version = version + 1
        where
            order_code
        in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--查询订单的商品编号，购买数量，库存-->
    <select id="getOrder" parameterType="java.util.List" resultType="com.xzsd.pc.order.entity.OrderDetails">
        select
            od.com_code comCode,
            od.detail_amount detailAmount,
            cmd.com_stock comStock
        from
            t_order_detail od
        left join
            t_commodity cmd
        on
            (od.com_code = cmd.com_code and cmd.is_delete = 0)
        where
            od.is_delete = 0
        and
            od.order_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--更新商品库存-->
    <update id="updateStock" parameterType="java.util.List">
        <foreach collection="orderDetailsList" index="index" item="item" open="" separator=";" close="">
            update
                t_commodity
            set
                com_stock = com_stock + #{item.detailAmount}
            where
                is_delete = 0
            and
                com_code = #{item.comCode}
        </foreach>
    </update>
</mapper>