<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">
    <!--统计门店数量-->
    <select id="countStore" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        SELECT
            count(*)
        FROM
            t_store st
        where
            st.is_delete = 0
        and
            (st.invite_code = #{inviteCode}
            or
                st.business_license = #{businessLicense})
        <if test="storeCode != null and storeCode != ''">
            and store_code != #{storeCode}
        </if>
    </select>
    <!--    统计店长编号数量-->
    <select id="countUserCode" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select
            count(*)
        from
            t_sys_user
        where
            user_code = #{userCode}
        and
            is_delete = 0
        and
            role = 1
    </select>
    <!--新增门店-->
    <insert id="addStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        insert into t_store
            (
                 store_code,
                 store_name,
                 store_phone,
                 user_code,
                 business_license,
                 province_code,
                 city_code,
                 area_code,
                 store_address,
                 invite_code,
                 is_delete,
                 create_time,
                 create_user,
                 update_time,
                 update_user,
                 version)
                values
                   (
                    #{storeCode},
                    #{storeName},
                    #{storePhone},
                    #{userCode},
                    #{businessLicense},
                    #{provinceCode},
                    #{cityCode},
                    #{areaCode},
                    #{storeAddress},
                    #{inviteCode},
                    #{isDelete},
                    now(),
                    #{createUser},
                    now(),
                    #{updateUser},
                    0)
    </insert>
    <!--查询门店详情-->
    <select id="findStoreByCode" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        SELECT
            st.store_code storeCode,
            st.store_name storeName,
            st.user_code userCode,
            st.store_phone storePhone,
            st.invite_code inviteCode,
            c.city_name province,
            b.city_name city,
            a.city_name area,
            st.store_address storeAddress,
            st.version version
        FROM
            t_store st
        LEFT JOIN
            city a
        ON
            st.area_code = a.id
        LEFT JOIN
             city b
        ON
            a.pid = b.id
        LEFT JOIN
            city c
        ON
            b.pid = c.id
        where
            st.is_delete =  0
        and
            st.store_code = #{storeCode}
    </select>
    <!--    修改门店信息-->
    <update id="updateStoreByCode" parameterType="com.xzsd.pc.store.entity.StoreInfo" >
        update
            t_store
        set
            store_name = #{storeName},
            store_phone = #{storePhone},
            user_code = #{userCode},
            business_license = #{businessLicense},
            province_code = #{provinceCode},
            city_code = #{cityCode},
            area_code = #{areaCode},
            store_address = #{storeAddress},
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where
            is_delete = 0
        and
            store_code = #{storeCode}
        and
            version = #{version}
    </update>
    <!--查询门店信息列表-->
    <select id="listStoreByPage" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        SELECT
            st.store_code storeCode,
            st.store_name storeName,
            st.store_phone storePhone,
            st.store_address storeAddress,
            us.user_name userName,
            st.invite_code inviteCode,
            us.user_acc userAccount
        FROM
            t_store st
        LEFT JOIN
            t_sys_user us
        ON
            st.user_code = us.user_code
        where
            st.is_delete =  0
        <if test="role !=null and role !='' and role == 1">
            AND st.user_code = #{userId}
        </if>
        <if test="storeCode != null and storeCode !=''">
            AND st.store_code like concat ('%',#{storeCode},'%')
        </if>
        <if test="storeName != null and storeName !=''">
            AND st.store_name like concat ('%',#{storeName},'%')
        </if>
        <if test="userName != null and userName !=''">
            AND us.user_name like concat ('%',#{userName},'%')
        </if>
        <if test="provinceCode != null and provinceCode !=''">
            AND st.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode !=''">
            AND st.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and areaCode !=''">
            AND st.area_code = #{areaCode}
        </if>
        order by st.create_time desc
    </select>
    <!--删除门店信息-->
    <update id="deleteStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update
            t_store
        set
            is_delete = 1,
            update_time = now(),
            update_user = #{userId},
            version = version + 1
        where
            store_code
        in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--    查询省份列表-->
    <select id="listProvince" resultType="com.xzsd.pc.store.entity.ProvinceInfo">
        select
            id provinceCode,
            city_name province
        from
            city
        where
            type_level = 1
        order by
            id desc
    </select>
    <!--    查询城市列表-->
    <select id="listCity" resultType="com.xzsd.pc.store.entity.CityInfo">
        select
            id cityCode,
            city_name city
        from
            city
        where
            type_level = 2
        and
            pid = #{provinceCode}
        order by
            id desc
    </select>
    <!--    查询区列表-->
    <select id="listArea" resultType="com.xzsd.pc.store.entity.AreaInfo">
       select
            id areaCode,
            city_name area
        from
            city
        where
            type_level = 3
        and
            pid = #{cityCode}
        order by
            id desc
    </select>

</mapper>